@import "../../app/general";

.section {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: $color-gray04;
}

.container {
  position: relative;
  width: 1220px;
  box-sizing: border-box;
  margin: 72px auto 54px auto;
  padding: 42px 30px;

  @include media-tablet {
    padding: 0 40px;
    margin: 50px auto 71px auto;
  }

  @include media-mobile {
    overflow: hidden;
    padding: 0 16px;
    margin: 24px auto 51px auto;
  }
}

.content {
  max-width: 497px;

  @include media-tablet {
    max-width: 334px;
  }

  @include media-mobile {
    margin: 0 auto;
  }
}

.header {
  @include font-h1;
  margin-bottom: 32px;

  @include media-tablet {
    width: 320px;
    font-size: 28px;
  }

  @include media-mobile {
    width: calc(100% - 20px);
    font-size: 24px;
    line-height: 31px;
  }
}

.serviceBlock {
  display: flex;
  margin-bottom: 20px;

  @include media-tablet {
    margin-bottom: 17px;
  }

  @include media-mobile {
    margin-bottom: 20px;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: $color-orange;
  border-radius: 50%;
  margin: 4px;

  @include media-tablet {
    width: 18px;
    height: 18px;
  }
}

.arrowIcon {
  width: 11px;
  height: 11px;

  @include media-tablet {
    width: 7px;
    height: 7px;
  }
}

.serviceText {
  max-width: 445px;
  @include font-body1;
  word-break: break-word;
  margin-left: 16px;

  @include media-tablet {
    max-width: 294px;
    font-size: 14px;
    line-height: 20px;
  }

  @include media-mobile {
    max-width: calc(100% - 42px);
    line-height: 18px;
  }
}

.button {
  @include font-button;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: $color-white;
  background-color: $color-black;
  border: 0;
  border-radius: 10px;
  padding: 12px 45px;
  margin-top: 60px;

  @include onHover {
    cursor: pointer;
    background-color: $color-gray01;
  }

  @include media-tablet {
    margin-top: 14px;
  }

  @include media-mobile {
    width: 100%;
    margin-top: 12px;
  }
}

.backgroundImage {
  position: absolute;
  width: 721px;
  height: 482px;
  margin-bottom: 23px;
  right: -200px;
  top: calc(50% - 241px);

  @include media-tablet {
    width: 399px;
    height: 266px;
    right: -80px;
    top: calc(50% - 133px);
  }

  @include media-mobile {
    display: block;
    position: relative;
    width: 502px;
    height: 335px;
    right: -12px;
    top: 0;
    margin: 50px auto 0 auto;
  }
}
