@import "../../app/general";

.section {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: $color-gray03;
}

.container {
  width: 1220px;
  margin: 66px auto;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 1;

  @include media-tablet {
    padding: 0 40px;
    margin: 62px auto 29px auto;
  }

  @include media-mobile {
    padding: 0 16px;
    margin: 50px auto 12px auto;
  }
}

.header {
  @include font-h0;

  @include media-tablet {
    font-size: 52px;
    letter-spacing: calc(52px * -0.04);
  }

  @include media-mobile {
    font-size: 36px;
    letter-spacing: calc(36px * -0.04);
  }
}

.description {
  @include font-h2;
  font-weight: 400;
  margin: 40px auto;

  @include media-tablet {
    @include font-body3;
    margin: 32px auto;
  }

  @include media-mobile {
    font-size: 16px;
  }
}

.callButton {
  @include font-button;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: $color-white;
  background-color: $color-orange;
  border-radius: 10px;
  border: none;
  padding: 12px 45px;
  margin: 40px 0;

  @include onHover {
    cursor: pointer;
    background-color: $color-orange-dark;
  }

  @include media-tablet {
    width: 100%;
    margin: 27px 0;
  }

  @include media-mobile {
    margin: 80px 0;
  }

  &_disabled {
    background-color: $color-gray02;
  }
}

.addition {
  display: flex;
  justify-content: space-between;
  margin-top: 144px;

  @include media-tablet {
    margin-top: 93px;
  }

  @include media-mobile {
    display: block;
    margin-top: 0;
  }
}

.additionHeader {
  max-width: 460px;
  @include font-h1;

  @include media-tablet {
    max-width: 275px;
    font-size: 28px;
  }

  @include media-mobile {
    max-width: 100%;
    font-size: 24px;
    line-height: 31px;
  }
}

.additionDetails {
  max-width: 560px;

  @include media-tablet {
    max-width: 334px;
  }

  @include media-mobile {
    max-width: 100%;
    margin-top: 22px;
  }
}

.additionButtons {
  display: flex;
  padding: 4px;
  border-radius: 14px;
  background-color: $color-white;

  @include media-tablet {
    border-radius: 8px;
    padding: 2px;
  }

  @include media-mobile {
    border-radius: 7px;
  }
}

.additionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-h2;
  width: 50%;
  color: $color-gray01;
  background-color: $color-white;
  border: 0;
  border-radius: 10px;
  padding: 10px 0;

  @include onHover {
    cursor: pointer;
    color: $color-black;
  }

  @include media-tablet {
    font-size: 14px;
    line-height: 19px;
    border-radius: 6px;
    padding: 6px 0;
  }

  @include media-mobile {
    font-size: 12px;
    line-height: 15px;
    border-radius: 5px;
    padding: 5px 0;
  }

  &_active {
    color: $color-white;
    background-color: $color-black;

    @include media-tablet {
      font-size: 16px;
      line-height: 20px;
    }

    @include media-mobile {
      font-size: 12px;
      line-height: 15px;
    }

    @include onHover {
      color: $color-white;
    }
  }
}

.additionParagraph {
  grid-column: 1 / 3;
  @include font-body1;
  margin-top: 32px;
  margin-bottom: 27px;

  @include media-tablet {
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
  }

  @include media-mobile {
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
  }
}

.image {
  position: absolute;
  width: auto;
  height: auto;
  top: -71px;
}
