@use "sass:math";

$color-white: #ffffff;
$color-gray01: #a4adac;
$color-gray02: #d6dbdb;
$color-gray03: #e8edee;
$color-gray04: #f2f6f6;
$color-black: #1d1d1b;
$color-orange: #ff5900;
$color-orange-dark: #e0570e;
$color-error: #ff4026;

@mixin font-h0 {
  @include _font-style(700, 80px, 110%, -4%);
}
@mixin font-h1 {
  @include _font-style(700, 32px, 120%, 0%);
}
@mixin font-h2 {
  @include _font-style(700, 24px, 32px, 0%);
}
@mixin font-button {
  @include _font-style(500, 24px, 32px, 0.5%);
}
@mixin font-body1 {
  @include _font-style(400, 22px, 32px, 0%);
}
@mixin font-body2 {
  @include _font-style(400, 18px, 22px, 0%);
}
@mixin font-body3 {
  @include _font-style(400, 14px, 20px, 0%);
}

@mixin onHover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin media-tablet {
  @media (max-width: 1439.98px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin _font-style($weight, $size, $line-height, $letter-spacing) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $size * math.div($letter-spacing, 100%);
  color: $color-black;
}
