@import "../../app/general";

.section {
  display: flex;
  justify-content: center;
  background-color: $color-gray03;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  margin: 89px auto;
  padding: 0 30px;
  box-sizing: border-box;

  @include media-tablet {
    padding: 0 40px;
    margin: 36px auto;
  }

  @include media-mobile {
    display: block;
    width: 100vw;
    padding: 0 16px;
  }
}

.header {
  @include font-h2;
  margin-top: -16px;

  @include media-tablet {
    font-size: 16px;
    line-height: 20px;
    margin-top: -30px;
  }

  @include media-mobile {
    width: 166px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 28px;
  }
}

.partnersBlock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 19px 40px 49px 40px;
  gap: 81px;

  @include media-tablet {
    margin: 0 45px 36px 70px;
    gap: 54px;
  }

  @include media-mobile {
    position: relative;
    min-width: 297px;
    flex-wrap: wrap;
    gap: 0 15px;
    margin: 8px 0 40px 0;
    left: -8px;
  }
}

.partner {
  height: auto;

  &:nth-child(1) {
    width: 177px;

    @include media-tablet {
      width: 121px;
    }

    @include media-mobile {
      width: 138px;
    }
  }

  &:nth-child(2) {
    width: 102px;

    @include media-tablet {
      width: 70px;
    }

    @include media-mobile {
      width: 85px;
      order: 3;
    }
  }

  &:nth-child(3) {
    width: 192px;

    @include media-tablet {
      width: 131px;
    }

    @include media-mobile {
      width: 138px;
    }
  }
}
