@import "../../app/general";

.section {
  display: flex;
  justify-content: center;
  background-color: $color-gray04;
}

.container {
  width: 1220px;
  margin: 111px auto;
  padding: 0 30px;
  box-sizing: border-box;

  @include media-tablet {
    padding: 0 40px;
    margin: 80px auto 70px auto;
  }

  @include media-mobile {
    padding: 0 16px;
    margin: 42px auto 20px auto;
  }
}

.header {
  @include font-h1;
  text-align: center;
  margin: 0 auto;

  @include media-tablet {
    padding: 0 70px;
    font-size: 28px;
  }

  @include media-mobile {
    font-size: 24px;
    line-height: 31px;
    text-align: start;
    padding: 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
  margin-bottom: 48px;

  @include media-tablet {
    margin-top: 60px;
    margin-bottom: 0;
  }

  @include media-mobile {
    display: block;
    margin-top: 31px;
  }
}

.imageBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  @include media-mobile {
    display: block;
  }
}

.imagePoint {
  width: 10px;
  height: 10px;
  background-color: $color-orange;
  border-radius: 50%;

  @include media-mobile {
    margin: 0 auto;
  }
}

.benefitsImageBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: $color-orange;
  border-radius: 18px;

  @include media-tablet {
    width: 80px;
    height: 80px;
    border-radius: 11px;
  }

  @include media-mobile {
    margin: 42px auto;
  }
}

.benefitsImage {
  width: 80px;
  z-index: 1;

  @include media-tablet {
    width: 53px;
  }
}

.imageLine {
  position: absolute;
  width: calc(100% - 10px);
  border: 1px solid $color-orange;

  @include media-mobile {
    width: auto;
    height: 182px;
    right: calc(50% - 1px);
    top: 0;
  }
}
